.content {
    border: solid 3px black;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    background: #e7b338;
    padding: 5px;
}

.detail {
    background-color: beige;
    margin: 5px;
    padding: 5px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}
.site_header{
    width: 100%;
    padding: 30px 4% 10px;
    background-color: aquamarine;
}
.header_nav {
    margin: 0 0 0 50%;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }
 header {
    padding: 30px 4% 10px;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
 }